.menu { 
    width: 150px; 
    background-color: #e6e6e6; 
    float: left; 
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
}

.menu ul li {
    float: left; /* This makes each list item float to the left */
    margin-right: 20px; /* Adds some space between the menu items */
}

.menu ul li a {
    display: block; /* Makes the entire area of the list item clickable */
    padding: 10px; /* Adds some padding for better appearance */
    text-decoration: none; /* Removes the underline from the links */
    color: #315eff; /* Set link color */
}

/* Clearfix to contain the floated elements */
.menu ul:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 768px) {
    .main {
        margin-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        width: 100%; /* Set width to 100% for horizontal layout */
    }

    .menu ul {
        flex-direction: row; 
    }

    .main .row .small,
    .main .row .medium {
        width: calc(50% - 20px);
        margin-bottom: 20px;
        float: left; 
    }

    .main {
        margin-left: 0; /* Default margin */
    }
}


@media screen and (min-width: 481px) {
    .main .row .small,
    .main .row .medium {
        width: calc(50% - 20px);
        margin-bottom: 20px;
        float: left; 
    }
}

@media screen and (max-width: 480px) {
    .main .row .small,
    .main .row .medium {
        width: 100%; 
        margin-bottom: 20px; 
        float: none; 
    }
}

